{% extends 'pages/main.html' %}
{% block content %}
<br>
<h1 style="text-decoration: underline; font-style: oblique;font-weight: bolder; text-align: center; ">
    Welcome to Our Gallery
</h1>
<br><br>

<div class="whites">
<table width=100% >
    <tr style="align-items: center;">
        <td><div class="back" ></div></td>
       
        <td><div class="back1" ></div></td>
        <td><div class="back2" ></div></td>
    </tr>
    <tr class="texting" >
        <td>Victoria Memorial,kolkata</td>
        
        <td>Birla Planetarium,kolkata</td>
        <td>Millennium Park river sight,Kolkata</td>
    </tr>
    <tr>
        <th></th>
        
        <th></th>
        <th></th>
    </tr>
    <tr style="align-items: center;">
        <td><div class="back3"></div></td>
        <td><div class="back4" ></div></td>
        
        <td><div class="back5" ></div></td>
        <td><div></div></td>
    </tr>
    <tr class="texting">
        <td>Science City,Kolata</td>
        
        <td>Millennium Park,Kolkata</td>
        <td>New Digha beach</td>
    </tr>
    <tr>
        <th></th>
        
        <th></th>
        <th></th>
    </tr>
    <tr style="align-items: center;">
        <td><div class="back6"></div></td>
        <td><div class="back7" ></div></td>
        
        <td><div class="back8" ></div></td>
        <td><div></div></td>
    </tr>
    <tr class="texting">
        <td>Mandarmani</td>
        
        <td>Kalimpong</td>
        <td>Darjeeling</td>
    </tr>
    <tr>
        <th></th>
        
        <th></th>
        <th></th>
    </tr>
    <tr style="align-items: center;">
        <td><div class="back9"></div></td>
        <td><div class="back10" ></div></td>
        <td><div class="back11" ></div></td>
        <td><div></div></td>
    </tr>
    <tr class="texting">
        <td>Har Ki Dun,Uttarakhand</td>
        
        <td>Har Ki Dun,First Day of Trek</td>
        <td>Har KI Dun,Final Day of Trekking</td>
    </tr>
    <tr>
        <th></th>
        
        <th></th>
        <th></th>
    </tr>
</table> </div>





{% endblock %}
